<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.microsoft.azbridge</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/azbridge</string>
        <string>-f</string>
        <string>/etc/azbridge/azbridge_config.yml</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/var/log/azbridge.log</string>
    <key>StandardErrorPath</key>
    <string>/var/log/azbridge.err</string>
</dict>
</plist>
